include icons/user

div(class="mb-2 relative")
  div(class="member-main relative z-50")
    +userIcon
  div(class="member-enter-left absolute z-30 top-[-1px] left-5 origin-bottom")
    +userIcon("text-neutral-500")
  div(class="member-enter-right absolute z-30 top-[-1px] right-5 origin-bottom")
    +userIcon("text-neutral-500")