header
  nav(class="container mx-auto flex justify-between items-center p-6 dark:text-white")
    a(href="/" class="font-bold text-xl") dv
    ul(class="flex gap-x-4 items-center")
      li
        include theme-toggle
      li
        button(aria-label="Settings" class="block p-1")
          include icons/gear
