@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .dv-font-body {
        font-family: "Lato", -apple-system, system-ui, sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }

    .dv-font-heading {
        font-family: "Cantata One", serif;
        font-weight: 400;
        font-style: normal;
    }

    .dv-wrapper {
        @apply w-full min-h-[100dvh] relative z-50 grid grid-rows-[auto_1fr_auto] gap-y-6
        md:gap-y-16 lg:gap-y-20 dv-font-body;
    }

    .dv-container {
        @apply container mx-auto px-6 md:px-8 lg:px-10
    }

    .dv-cta-btn {
        @apply p-8 min-w-44 flex flex-col items-center rounded-xl border border-neutral transition
        duration-150 md:hover:bg-primary md:hover:border-accent active:scale-95 md:hover:text-base-100
    }

    .dv-view-cell {
        @apply p-4 rounded-md border border-base-200 dark:border-neutral-800
    }

    .modal-box {
        @apply rounded-lg max-h-[calc(100dvh_-5em)]
    }
}

:root:has(:is(.modal-open,.modal-target,.modal-toggle:checked+.modal,.modal[open])) {
    scrollbar-gutter: auto !important;
}