<section class="dv-container flex flex-col justify-center items-center p-6">
  <div class="flex flex-col md:flex-row md:gap-x-6 gap-y-6 justify-center items-center">
    <button onclick="modal_split.showModal()" class="dv-cta-btn">
      <svg xmlns="http://www.w3.org/2000/svg" width="48px" height="48px" class="w-12 h-12" viewBox="0 0 24 24">
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
              d="M8 18a2 2 0 1 0-4 0a2 2 0 0 0 4 0M20 6a2 2 0 1 0-4 0a2 2 0 0 0 4 0M8 6a2 2 0 1 0-4 0a2 2 0 0 0 4 0m12 12a2 2 0 1 0-4 0a2 2 0 0 0 4 0m-6-6a2 2 0 1 0-4 0a2 2 0 0 0 4 0M7.5 7.5l3 3m-3 6l3-3m3 0l3 3m0-9l-3 3"/>
      </svg>
      <span class="dv-font-heading mt-2 text-xl">Split Evenly</span>
    </button>
    <button onclick="modal_divvy.showModal()" class="dv-cta-btn">
      <svg xmlns="http://www.w3.org/2000/svg" width="48px" height="48px" class="w-12 h-12" viewBox="0 0 24 24">
        <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1">
          <path d="m7 16.5l-5-3l5-3l5 3V19l-5 3z"/>
          <path d="M2 13.5V19l5 3m0-5.455l5-3.03m5 2.985l-5-3l5-3l5 3V19l-5 3zM12 19l5 3m0-5.5l5-3m-10 0V8L7 5l5-3l5 3v5.5M7 5.03v5.455M12 8l5-3"/>
        </g>
      </svg>
      <span class="dv-font-heading mt-2 text-xl">Divvy Up</span>
    </button>
  </div>
</section>