@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Cabin", "Roboto", system-ui, -apple-system, sans-serif;
    @apply bg-slate-50 text-neutral-800 dark:bg-neutral-950 dark:text-slate-300;
  }
  fieldset {
    animation-name: slideIn;
    animation-duration: 800ms;
    animation-timing-function: cubic-bezier(.52,.05,.13,.97);
    animation-fill-mode: both;
    @apply w-full flex flex-col gap-y-2;
  }
  label {
    @apply text-sm font-medium dark:text-slate-500;
  }
  input {
    @apply w-full border border-slate-300 bg-slate-100 text-slate-900 dark:border-slate-500/10 dark:bg-slate-500/10
    rounded-sm dark:text-slate-300 text-base px-4 py-2;
  }
  button:disabled {
    @apply bg-slate-400 dark:bg-slate-800 opacity-50 cursor-not-allowed;
  }
}

@layer components {
  .cta-btn {
    animation: cta-btn-enter both 1500ms cubic-bezier(.52,.05,.13,.97);
    @apply transform px-10 py-4 rounded-md transition-colors ease-in-out duration-200;
  }
  .cta-btn-filled {
    @apply bg-slate-900 text-slate-300 dark:bg-slate-300 dark:text-slate-900 md:dark:hover:bg-slate-400;
  }
  .cta-btn-outline {
    animation-delay: 100ms;
    @apply  border border-slate-900 text-slate-900 dark:border-slate-300 dark:text-slate-300
    md:dark:hover:bg-slate-400/20;
  }
  .icon-btn {
    @apply transform md:hover:rotate-45 md:transition-transform md:ease-in-out md:duration-500;
  }
  .modal {
    @apply bg-transparent w-full h-full flex justify-center items-center;
  }
  .modal-content {
    @apply w-full max-w-xl p-6 rounded-md dark:bg-neutral-900 dark:text-slate-300;
  }
  .divvy-form {
    @apply max-w-screen-lg mx-auto grid grid-rows-[auto_1fr_1fr_auto] grid-cols-1 h-full md:grid-cols-2 md:grid-rows-[auto_1fr_auto] gap-6;
  }
  .divvy-form > fieldset:nth-child(1) {
    @apply md:col-span-2;
  }
  .divvy-form > fieldset:nth-child(2) {
    @apply md:col-span-1;
  }
  .divvy-form > fieldset:nth-child(3) {
    @apply md:col-span-1;
  }
  .divvy-form > fieldset:nth-child(4) {
    @apply md:col-span-2;
  }
}

@keyframes cta-btn-enter {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 500ms ease-out;
}

.animate-slideIn {
  animation: slideIn 800ms cubic-bezier(.52,.05,.13,.97);
}