@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

@layer base {
  body {
    @apply bg-black;
  }
}

@layer components {
  .btn {
    @apply py-1 md:py-2 px-4 rounded-md text-sm md:text-base disabled:bg-gray-200 disabled:text-gray-500
    disabled:cursor-not-allowed;
  }
  .btn-primary {
    @apply btn bg-black text-white hover:bg-black/90;
  }
  .btn-secondary {
    @apply btn border border-gray-200 hover:bg-gray-200;
  }
  .btn-ghost {
    @apply btn border border-gray-200 hover:bg-gray-100;
  }
  .btn-active {
    animation-name: buttonActive;
    animation-duration: 0.8s;
    animation-timing-function: cubic-bezier(.44,.05,.13,.97);
  }
  .toggle-btn {
    @apply flex justify-center px-2 py-0.5 border border-black rounded-md text-sm cursor-pointer;
  }
  .toggle-btn:has(input:checked){
    @apply bg-black text-white;
  }
  .modal-body {
    animation-name: modalEnter;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(.35,.01,0,.99);
  }
  .modal-backdrop {
    animation-name: fadeIn;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(.44,.05,.13,.97);
  }
  .animated-li {
    animation-name: liEnter;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(.35,.01,0,.99);
    animation-fill-mode: both;
  }
  .toast {
    animation-name: toastEnter;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.35,.01,0,.99);
    animation-fill-mode: forwards;
    @apply fixed bg-black text-sm text-white shadow-sm px-4 py-2 rounded-md top-10 left-1/2 z-[1000];
  }
}

@keyframes modalEnter {
  from {
    transform: translateY(5px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes liEnter {
  from {
    transform: translateX(-5px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes buttonActive {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes toastEnter {
  0% {
    opacity: 0;
    transform: translateY(-10px) translateX(-50%);
  }
  25% {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }
  75% {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px) translateX(-50%);
  }
}